//
//  COMPONENTS OF APP, BUTTONS

.fake-input {
    display: block;
    max-height: 4em;
    color: darken(map-get($content, color), 20%);
    background: lighten(map-get($content, bg), 10%);
    border: .1em solid darken(map-get($content, color), 20%);
    border-radius: .2em;
    box-shadow: 0px 0px 10px -1px rgba(map-get($main, shadow), .6);
    text-align: center;
    line-height: 3.8em;

    & span {
        font-size: 125%;
        opacity: .3;
        letter-spacing: .08em;

        //&:before {
        //    content: 'Čárový kód';
        //}
    }
}

.mixit-btn {
    padding: .6em 3em .7em;
    text-align: center;
//    text-transform: uppercase;

    color: $mixit-color;
    background: map-get($button, bg);
    border: 0.18em solid $mixit-color;
    border-radius: 2em;

    @include transition;;

    @include hover {
        color: map-get($main, color);
        background: map-get($button, hover);
    }
    
    &.bg-success,
    &.bg-danger {
//        border-color: #000;
//        color: #000;
    }
}

.login-btn {
    padding: .4em .8em .4em;
    border: .1em solid map-get($main, color);
    z-index: 100;
    
    @include transition;
    
    @include hover {
        background: map-get($main, color);
        color: map-get($main, bg);
    }
}

.user-link {
    @include transition;

    @include hover {
        color: darken(map-get($main, color), 50%);

        & img {
            opacity: 1;
        }
    }

    & img {
        @include transition;
        width: 6em;
        margin-top: .5em;
        opacity: .6;
    }

    & span {
        display: block;
        font-weight: bold;
        letter-spacing: .05em;
    }
    
    & .fas {
        margin-right: .2em;
    }
}

.stand {    
    & h3 {
        font-size: 200%;
        text-align: left;
        padding-left: .5em;
        
        & strong {
            padding: .1em 1em;
            margin-left: 14.75%;
            background: map-get($main, shadow);
            color: darken($mixit-color, 2%);
            border-radius: 1em;
        }
    }
    
    & table {
        font-size: 400%;
        border: .15em solid map-get($main, shadow);
        border-collapse: collapse;
        box-shadow: .25em .25em .2em -.04em rgba(map-get($main, shadow), .7);
    }
    
    & td {
        position: relative;
        width: 1em;
        height: 2em;
        border: .08em solid map-get($main, shadow);
        box-shadow: inset .215em .2em .2em -.04em rgba(map-get($main, shadow), .7);
        
        &.active {            
            color: map-get($main, shadow);
            
            animation: 1s infinite ease pulsar;
        }
        
        @keyframes pulsar {
            0% {
                background: rgba($mixit-color, .6);
            }
            50% {
                background: rgba($mixit-color, .8);
            }
            100% {
                background: rgba($mixit-color, .6);
            }            
        }
        
        & span {
            position: absolute;
            font-size: 40%;
            top: 1.6em;
            transform: rotate(-75deg);                
        }
    }
    
    & thead {
        & td {
            & span {
                left: -.6em;
            }
        }
    }
    
    & tbody {
        & td {
            & span {
                left: .6em;
            }
        }
    }
}