//
//  SETTING OF MAIN CONTENT VIEW

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    width: 100%;    
    
//    background: url('../img/main-bg_pattern.png') lighten(map-get($main, bg), 20%);
    background: url('../img/users-bg_pattern.png') map-get($content, bg);
    color: darken(map-get($main, color), 35%);
    border-radius: .3em;
    
    margin-bottom: 0;
    padding-bottom: .6em;
    
    & .container-fluid {        
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        padding: {
            left: .5em;
            right: .5em;
        }
    }
}

.main-header {
//    display: flex;
//    flex-direction: row;
    min-height: 6em;
    
    & h1 {
        padding: .5em 1em;
        margin: 0;
        font-weight: 100;
        letter-spacing: .06em;
//        text-shadow: -2px 2px 2px rgba(map-get($main, shadow) , .6);    
    }
    
    & .navigation {
        justify-content: flex-start;
        border-bottom: .15em solid darken($mixit-color, 2%);
        
        font-size: 120%;
        line-height: 3em;
        margin: 1em auto 0;
        padding: 0;
        
        & li {
            margin-right: .1em;
            
            & a {
                border-bottom: none;
                padding: .8em 1em 1em;
                border-radius: .4em .4em 0 0;
                
                &%placeholder-main_nav {
                    color: map-get($content, color);         
                    background: darken($mixit-color, 2%);            
                }    
        
                &.selected {
                    @extend %placeholder-main_nav;   
                }        

                @include hover {
                    @extend %placeholder-main_nav;
                }
            }
        }
    }
    
    & .header-content {
        font-size: 90%;
        
        & ul {
            text-align: right;
        }
        
        & li {
            display: inline-block;
//            min-height: 5em;
            text-align: center;
            vertical-align: top;
            border-bottom: 1px solid lighten(map-get($text, primary), 40%);
            
            padding-bottom: .4em;
            margin: .4em 0;
            
//            &:first-child {                
//                text-align: center;
//                padding-top: .9em;    
//            }
            
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
            
            & p {
                display: inline;
                margin-left: .5em;
                
                &:after {
                    content: '/';
                    margin: 0 .4em 0 .8em;
                    color: lighten(map-get($text, primary), 40%);
                }
                
                &:last-child:after {
                    content: none;
                }
                
                & span {
                    letter-spacing: .06em;
                }
            }
        }
    }
}

.main-content {    
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
    flex-grow: 1;
    
    padding: 1em 0;
//    background: url('../img/users-bg_pattern.png') map-get($content, bg);
    color: map-get($content, color);
    border-radius: .3em;
//    box-shadow: -1px 1px 6px 2px rgba(map-get($main, shadow), .6);

    & h3,
    & h4,
    & h5 {
        color: darken(map-get($content, color), 20%);
    }
}