.users {    
    & li {
        text-align: center;
        padding: 0;
        min-height: 10em;
        cursor: pointer;
        border-radius: .5em;
        
        @include transition;
        
        &:hover,
        &:focus {
            color: #000;
            
            & img {
                opacity: 1;
            }
        }   
        
        & img {
            @include transition;
            
            width: 6em;
            margin-top: .5em;
            opacity: .6;            
        }
        
        & span {
            display: block;
            font-weight: bold;
            letter-spacing: .05em;
        }
    }
}

.setting {
    & section {
        min-height: 25em;
        margin-left: 5%;
        padding-top: 1em;
        
        &:nth-child(2n) {
            border-left: 2.5px solid $content-color;
            padding-left: 5%;
            margin-left: 0;
        }
        
        & form {
            margin-top: 2em;
        }
    }
    
    & .label {
        & form {
            & .btn-group {
                display: flex;
                justify-content: center;
                
                padding: 0;                
                margin: {
                    top: 2em;
                }
                                
                & button {
                    margin-right: .1em;
                    
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
    & .admin {
        & form {        
            & button {
                margin: {
                    top: 2em;
                    left: 25%;
                }
            }
        }
    }
}

.fake-input {
    display: block;
    max-height: 4em;
    margin: 0 auto;
    color: darken($content-color, 20%);
    background: lighten($content-bg, 10%);
    border: 1px solid darken($content-color, 20%);
    border-radius: .2em;
    box-shadow: 0px 0px 10px -1px rgba($main-shadow , .6);
    text-align: center;
    line-height: 3.8em;
    
    & span {
        font-size: 125%;
        opacity: .3;
        letter-spacing: .08em;
        
        &:before {
            content: 'Čárový kód';
        }
    }
}

.margin-top {
    margin-top: 5em;
}

.tests {
    display: flex;
    flex-direction: column;
    align-content: center;
    
    & section {
        padding: 0;
        margin-top: 1em;
    }
    
    & .test-header {
        & .input-group {
            padding: 0;
            margin: 0 auto;
        }
    }
    
    & .input-group-prepend {
        width: 25%;        
    }
    
    & .input-group-text {
        width: 100%;
        padding-left: 32.5%;
    }
    
    & .custom-select {
        text-align: center;
    }
    
    & .test-content {    
        & h3 {
            margin: {
                bottom: 2em;
            }
        }
        
        & button {
            margin: 2em auto;
        }
    }
    
    & .test-forms {        
        display: flex;
        justify-content: space-around;
        
//        & div.col-5:nth-child(2) {
//            display: none;
//        }
        
        & .form-check {
            padding-left: 0;
            
            & label {
                padding: 0;
            }
            
            & input {
                margin: {
                    top: .4em;
                    left: .7em;
                    right: 0;
                }
            }           
        }
    }
}

.boxing {
    padding-top: 1em;
}

.table-container,
.state-container {
    height: 100%;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid $tableHead-bg;    
    
    & ul {        
        height: 100%;
        padding: .4em 1em 0;
        overflow: auto;
        
        & li {
            padding: .4em 0;
            margin-bottom: .3em;
            color: $tableHead-color;
            
            & p {
                text-indent: 1em;
                
                &:first-child {
                    text-indent: 0;
                }
                
                & .fas {
                    margin-right: 1em;
                }
            }
        }
        
        & li:first-child {
            background: $tableHead-bg;            
            border-radius: .3em .3em 0 0;
            margin-bottom: .4em;
            
            & p {
                border-left: 1px solid $tableHead-color;
                text-indent: 0;
                
                &:first-child {
                    border-left: none;
                }
            }
        }
    }
    
    & .table-foot {
        display: flex;
        justify-content: flex-end;
        
        margin: .5em 0;
        
        & p {
            margin-right: 1em;
            
            & span {
                color: darken($content-color, 20%);
            }
        }
    }    
}

.state-container {
    position: relative;
    
    & section {
        margin-bottom: 2em;
        
        &:last-child {
            margin-bottom: 0;
        }
        
        & p {
            margin-bottom: .2em;
            text-indent: .2em;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        & .fas {
            margin-right: .4em;
        }
        
        & .btn {
            margin: 1em auto;
        }
    }
    
    & #delete-box {
        position: absolute;
        top: 0;
        right: .5em;
        width: 10em;
        
        & button {
            font-size: 90%;
            margin: 0;
        }
    }
    
    & .information-box {
        margin-top: 5em;        
        
        & ul { 
            font-size: 90%;
        }
        
        & li {
            display: inline-block;
            text-align: left;
            border-bottom: 1px solid lighten($text-primary, 40%);
            
            padding-bottom: .4em;
            margin: .4em 0;
            
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
            
            & p {
                margin-bottom: .5em;
                
                & span {
                    letter-spacing: .06em;
                }
            }
        }
    }
}