//
//    VARIABLES

// debug
$debug: false;

//body
$body-width: 100%;

//$main-font: Helvetica Neue, Helvetica, Arial, sans-serif; 
$main-font: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;  

//colors
$main-color: #aaa;
$main-bg: #555;
$main-shadow: #000;

$content-bg: #ddd;
$content-color: #888;

$login-bg: #000;
$form-bg: #fff;

$tableHead-color: #eee;
$tableHead-bg: #222;

$text-primary: #333;
$text-success: #3dc75c;
$text-danger: #d0656f;