//
//    VARIABLES

// debug
$debug: false;

//body
$body-width: 100%;

//$main-font: Helvetica Neue, Helvetica, Arial, sans-serif; 
$main-font: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;  

$main: (
    color: #aaa,
    bg: #555,
    shadow: #000
);

$header: (
//    border: #0089ff
    border: #40BEFF
);

$content: (
    color: #888,
    bg: #ddd
);

$tableHead: (
    color: #eee,
    bg: #333
);

$text: (
    primary: #333,
//    success: #3dc75c,
    success: #13a328,
    danger: #b91a28
);

$button: (
    bg: #333,
    hover: #eee
);

//$nice-color: #ff4040
$mixit-color: #fa0;
$login-bg: #000;
$form-bg: #fff;

// transition setting
$transition-set: (
    time: .2s,
    animate: ease
);

// media queries breakpoints
$bootstrap-bp: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    lx: 1200px
);

// new selectors
$max-heights: (
    10em, 18em, 19em, 20em, 30em, 35em, 40em, 45em, 50em
);

//$max-heights: (
//    selector: 'max_h',
//    css: 'max-height',
//    1: 40em, 
//    2: 45em, 
//    3: 50em
//);