/* general */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* element border */
/** { outline: 3px solid black; } */

@import 'variables';
@import 'mixins';

html, body { height: 100%; }

body {
    display: flex;
    flex-direction: column;
    
    max-width: $body-width;
    background: url('../img/body-bg_pattern.png') map-get($main, bg);    
    color: map-get($main, color);
    
    font: {
        size: 100%;
        family: $main-font;
    }    
}

::selection {
    background: rgba($mixit-color, .5);
    color: map-get($main, bg);
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: map-get($main, color);
    
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

@import 'debug';
@import 'components';
@import 'selectors';
@import 'parts';
@import 'main';
@import 'pages';
@import 'media';